.app-header {
    background-color: #263238;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.login-button {
    float: right;
}

.logo-text {
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
  }

.dispNone {
      display: none;
}

.dispBlock {
    display: block;
}

.red{
    color:red;
}

.text-box{
	width:250%;
    float:right;
    margin-bottom:20px;
}

.login-text{
    font-size: 20px;
    margin-bottom:20px;
}

.no-border {
    box-shadow: none!important;
}